{% extends "base.html.twig" %}
{% block body %}

<header>
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Acceuil</a>
    
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link"
                                    href="http://www.pepinieres-rey.com/sites/rey/pages/medias/documents/Catalogues2016/catalogue-2016-2017-internet.pdf">Catalogue
                                    Professionel<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="http://www.pepinieres-rey.com/sites/rey/pages/medias/documents/Catalogues2016/guide-jardin-2016-17internet2.pdf">Catalogue
                                    Particulier<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="http://www.pepinieres-rey.com/nos-conseils/">Conseil<span
                                        class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>
    ​
    <section id="info" class="container">
        <div class="row">

            <div class="jumbotron col-12 col-lg-12">
                <i class="fas fa-leaf"></i>
                <h2> Nos Pépinières hors-sol </h2>
                <p class="eco lead" style="color: #BEDB39;">
                    <p>Elles s'étendent sur 10 hectares d'un seul tenant.
                        Chaque année nous mettons en production 400 000 plantes en conteneurs, du C1,3L au C30L.
                        La majorité de notre production est cultivée en C4L. Une gamme raccourcie est également
                        disponible
                        en C7,5L.</b><br>
                    </p>
            </div>
        </div>
    </section>
    ​
    <aside>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Notre production hors-sol</h1><br>
                    <h3>
                        <center>Vues générales des cultures</center>
                    </h3>

                    <div class="row">
                        <div class="col-3 pt-4">
                            <div class="media">
                                <img src="{{ asset('img/hs1.jpg') }}" class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 pt-4">
                            <div class="media">
                                <img src="{{ asset('img/hs2.jpg') }}" class="mr-3" alt="...">
                                <div class="media-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 pt-4">
                            <div class="media">
                                <img src="{{ asset('img/hs3.jpg') }}" class="mr-3" alt="...">
                                <div class="media-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-3 pt-4">
                            <div class="media">
                                <img src="{{ asset('img/hs4.jpg') }}" class="mr-3" alt="...">
                                <div class="media-body">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center pt-4">
                            <h3>
                                <center>Cultures en extérieur</center>
                            </h3><br>

                            <div class="row">
                                <div class="col-3 pt-4">
                                    <div class="media">
                                        <img src="{{ asset('img/hs5.jpg') }}" class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h5 class="mt-0"></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 pt-4">
                                    <div class="media">
                                        <img src="{{ asset('img/hs6.jpg') }}" class="mr-3" alt="...">
                                        <div class="media-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 pt-4">
                                    <div class="media">
                                        <img src="{{ asset('img/hs7.jpg') }}" class="mr-3" alt="...">
                                        <div class="media-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 pt-4">
                                    <div class="media">
                                        <img src="{{ asset('img/hs8.jpg') }}" class="mr-3" alt="...">
                                        <div class="media-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-center pt-4">
                                    <h3>
                                        <center>Cultures sous abri (Serres multichapelles)</center>
                                    </h3><br>
                                    <div class="row">
                                        <div class="col-6 pt-6">
                                            <div class="media">
                                                <img src="{{ asset('img/hs9.jpg') }}" class="mr-3" alt="...">
                                                <div class="media-body">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 pt-6">
                                            <div class="media">
                                                <img src="{{ asset('img/hs10.jpg') }}" class="mr-3" alt="...">
                                                <div class="media-body">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </aside>
    ​
</header>




{% endblock %}