{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>{{ categorie.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Type de Plant</th>
            </tr>
{% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td><img style="height:100px; width:100px;" src="{{ asset('img/produits/' ~ produit.getPhoto()) }}"></td>
                <td>{{ produit.typeDePlant }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
{% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
{% endfor %}

        </tbody>
    </table>

    

    <a href="{{ path('categorie_index') }}">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
